.home {
  width: 100%;
  min-height: 100%;
  padding: 48px 8.3% 60px 8.3%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 72px;
}
.home__profile {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 36px;
}
.home__profile--header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 28px;
}
.home__profile--info {
  width: 100%;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 60px;
}
.home__profile--info li {
  max-width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
}
.home__profile--info li span {
  max-width: 100%;
  
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.home__profile--info-title {
  color: #717583;
}
.home__activity {
  width: 100%;
  padding: 11px 20% 0 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #F6F8FF;
  border-radius: 32px;
}
.home__activity h4 {
  margin-bottom: 12px;
}
.home__activity p {
  margin-bottom: 36px;
}
.home__faq {
  width: 100%;
}
.home__faq h4 {
  margin-bottom: 36px;
}
.home__faq ul {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.faq {
  width: 100%;
  padding: 24px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  box-shadow: 0px 12px 26px rgba(232, 233, 236, 0.57);
  border-radius: 16px;
}
.faq__header {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 29px;

  cursor: pointer;
}
.faq__content {
  width: 60.8%;
  max-height: 0;

  overflow: hidden;

  transition: max-height 0.2s ease-out;
}
.faq svg {
  flex-shrink: 0;

  transition: all 200ms;
}
@media (max-width: 1000px) {
  .home {
    padding: 48px 4.17% 40px 4.17%;
    gap: 52px;
  }
  .home__activity {
    padding: 11px 3.98% 0 40px;
  }
  .faq__content {
    width: 67.07%;
  }
}
@media (max-width: 600px) {
  .home {
    padding: 20px 16px 12px 16px;

    gap: 48px;
  }
  .home__profile--header .btn span {
    display: none;
  }
  .home__profile--info {
    gap: 24px;
  }
  .home__profile--info li {
    min-width: 40%;
  }
  .home__activity {
    padding: 28px 16px 0 16px;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 59px;
  }
  .home__activity h4 {
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 18px;
    line-height: 24px;

    text-align: center;
  }
  .home__activity p {
    margin-bottom: 32px;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    text-align: center;
  }
  .faq__content {
    width: 92.2%;
  }
}
@media (max-width: 350px) {
  .home__profile--header h2 {
    font-size: 24px;
    line-height: 32px;
  }
}